@import "tailwindcss";
@theme{
  --shadow-cm:0 0 5px rgb(131, 8, 31);
}
:root {
  --footer-height: 384px;
  --site-font: 'Century Gothic', sans-serif; /* Ensure to include fallback fonts */
}

/* Hides the scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* General body styling */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--site-font); /* Apply the custom font globally */
}

