#horizontal {
    display: flex;
    overflow-x: hidden; /* Hide horizontal overflow */
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar */
}

.content {
    width: 100vw; /* Take full viewport width */
    height: 100vh; /* Take full viewport height */
    display: flex;

    font-size: 30px;
    flex-shrink: 0; /* Prevent shrinking */
}

.content:nth-child(1) {
    background-color: #F5F5F5;
}

.content:nth-child(2) {
    background-color: rgb(69, 240, 174);
}

.content:nth-child(3) {
    background-color: rgb(228, 255, 73);
}
@media screen and (max-width: 767px) {
    #container__horizontal #horizontal .content_1 img {
        width: 150px;
        height: auto;
        object-fit: contain;
    }
   #container__horizontal #horizontal .content_1 p:nth-child(1){
       font-size: 14px;
       margin-top: 10px;
       text-align: center;
       color: red;
   }
   #Watch__exclusive {
    justify-content: center;
   }
   #Watch__exclusive > *:nth-child(7n+6) {
       display: none;
   }
}
#Watch__exclusive{
    padding: 0px 60px;
}