
#header{
    position: sticky;
    top: 0;
    z-index: 100;
}
#header a{
    text-decoration: none;
}
#header a{
    position: relative;
}
#header a:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: currentColor;
    transition: transform 0.3s ease-out;
    transform: scaleX(0);
    transform-origin: 0% 50%;
}
#header a:hover:before{
    transform: scaleX(1.01);
}
p{
    font-size: 14px
}

#search{
    margin-right: 20px;
    padding: 10px;

}
#search div input{
    padding: 5px;
}
#search input{
    margin-right: 10px;
    border: 1px solid #C40D2E;
    
}
#search input::placeholder{
    color: #C40D2E;
    margin-left: 5px;
}

#sidebar{
    margin-left: 34px;
}
#sidebar button{
    margin-right: 10px;
}
#sidebar-button {
    padding: 5px;
    margin: 5px;
}

